.DS_Store
.project
.classpath
.settings
target
.cache
.cache-main
.cache-tests
.scala_dependencies
.worksheet
dependency-reduced-pom.xml
*.crc
.tmpBin

# IntelliJ IDEA
.idea
*.iml

# Visual Studio Code
.vscode
.metals
.bloop
